@import 'compass/css3';
@import 'compass/utilities';

* {
    box-sizing: border-box;
}

body {
    background-color: #161718;
    color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}

a, a:visited {
    color: #f9f9f9;
    text-decoration: none;
    &:hover, &:active {
        color: #f7f7f7;
    }
}

h1 {
    &.site-header {
        font-size: 3em;
        margin-top: 0;
    }
}

h3 {
    text-transform: uppercase;
    position: relative;
}

p {
    font-family: 'Gentium Book Basic', serif;
}

article {
    width: 90%;
    margin: 0 auto;
}

section {
    background-color: #f9f9f9;
    color: #161718;
    margin: 0 0 1em 0;
    padding: .25em 1em;
    @include box-shadow(1px 2px 1px #454545);
    a, a:visited {
        color: #161718;
        text-decoration: none;
        &:hover, &:active {
            color: #171819;
        }
    }
}

.link-back {
    position: absolute;
    right: 1em;
}

.address, .telephone, .site {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: .75em;
}

.coffin {
    background-color: #2a2a2b;
    // color: #161718;
    height: 100%;
    //  a, a:visited {
    //     color: #161718;
    //     text-decoration: none;
    //     &:hover, &:active {
    //         color: #171819;
    //     }
    // }
    position: fixed;
    // z-index: 5;
    width: 20%;
    max-width: 280px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    h2 {
        text-align: center;
    }
    .nav {
        // border-bottom: 5px solid #171819;
        list-style: none;
        margin-right: 1em;
        padding-left: .5em;
        margin-bottom: 0;
        padding-bottom: 0;
        a {
            display: block;
            width: 100%;
        }
        li {
            margin-left: .5em;
            a {
                font-family: 'Gentium Book Basic', serif;
            }
        }
        h4 {
            margin-bottom: .25em;
            padding-bottom: .25em;
            border-bottom: 1px solid #454545;
        }
    }
}



.page {
    background-color: #161718;
    position: relative;
    z-index: 10;
    width: 80%;
    margin-left: 20%;
    padding-bottom: 5%;
    max-width: 980px;
    -webkit-transform: translate3d(0,0,0);
}

@media only screen 
and (max-width : 767px) {
    .coffin {
        display: none;
        width: 100%;
        overflow: scroll;
    }
    .coffin-open,
    .coffin-pulling {
        display: block;
        border-right: 5px solid #ffffff;
        padding-right: 2%;
    }
    .page {
        margin-left: 0;
        width: auto;
        @include box-shadow(-4px 0 10px -5px rgba(0, 0, 0, 0.8));
    }
}